@import "_partials/_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: $background-color;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.gradient-1 {
  background: $gradient;
}

.ProjectDetailImageSwiper {
  .custom-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 8px;
    margin: 0 5px;

    border-radius: 2px;
    transition: background 0.1s ease-in-out;
    cursor: pointer;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    background: $primary-color;
    transform: scale(1.2);
  }
}

.floorplan-table {

  width: 100%;
  overflow-x: auto; 
  display: block;
 

  tr, th, td {
    border: 1px solid $tertiary;
    padding: 10px;
    
    :last-child {
      border-bottom: none;
    }
   
  }

 
}
@media (max-width: 768px) {
  .floorplan-table {
    border: none;
    
    thead {
      display: none; /* Hide headers on mobile */
    }
    
    tr {
      display: block;
      margin-bottom: 1rem;
      border: 1px solid $tertiary;
    }
    
    td {
      display: flex;
      justify-content: space-between;
      border: none;
      border-bottom: 1px solid $tertiary;
      
      /* Add pseudo-elements for labels */
      &:before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 1rem;
      }
    }
  }
}

.content-wrapper {
  ul li {
    margin-bottom: 1rem;
    padding-left: 2rem;
    position: relative;
    list-style: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $tertiary;

    &:before {
      content: "📍";
      position: absolute;
      left: 0;
      padding-right: 10px;
      color: $primary-color;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
