@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import 'swiper/css';

/* 2. Swiper modules (optional, but recommended) */
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@theme {
  --color-primary: #D4A736;
  --color-primarylight: #F3F2ED;
  --color-primarydark: #A15652;
  --color-secondary: #A6A6A6;
  --color-tertiary: #4e4d4d;
  --color-gradient: linear-gradient(86.02deg, rgba(162, 98, 94, 0.75) 0%, rgba(197, 118, 113, 0.75) 96.4%);
}


body {
 font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  /* Small (sm) - default mobile */
  @media screen and (min-width: 640px) {
    max-width: 640px;
  }

  /* Medium (md) */
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  /* Large (lg) */
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }

  /* Extra Large (xl) */
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }

  /* 2XL */
  @media screen and (min-width: 1400px) {
    max-width: 1300px;
  }

  /* 3XL or custom larger breakpoint */
  @media screen and (min-width: 1536px) {
    max-width: 1400px;
  }
}

a, button{
  cursor: pointer;
}


.more-info-btn {

display: flex;

justify-content: center;
align-items: center;

gap: 10px;



background: #F8F8F8;
box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.07);
border-radius: 12px;

}




